.market {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-image: url(/src/assets/banner.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
}
.market-place {
  background-image: url(/src/assets/marketFrame.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1600px;
  position: relative;
  height: 900px;
}
.right-slider {
  width: 1500px;
  margin: 0 auto;
  height: 100%;
  padding-top: 50px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.frame-container {
  background-image: url(/src/assets/market1.png);
  background-size: 1440px 1100px;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 150px 100px;
  height: 1100px;
  width: 1440px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}
.paginationBttns {
  justify-content: center;
  align-items: center;
  list-style: none;
  position: relative;
  display: flex;
}
.paginationBttns a {
  padding: 8px;
  margin: 10px;
  font-weight: 700;
  font-size: 30px;
  color: #ffb657;
  cursor: pointer;
  border-radius: 5px;
}
.paginationActive a {
  background-image: url(/src/assets/paginaton.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 60px 40px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 40px;
}

.pagination {
  font-size: 30px;
  position: relative;
  background-image: url(/src/assets/paginaton.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80px 50px;
  width: 80px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-left {
  left: -50%;
}
.pagination-right {
  right: -50%;
}
.previousBttn,
.nextBttn {
  background-color: transparent !important;
}

.right-arrow {
}

@media screen and (max-width: 1750px) {
  .right-slider {
    width: 1400px;
  }
  .frame-container {
    background-size: 1240px 1100px;
    height: 1100px;
    width: 1240px;
  }
}
@media screen and (max-width: 1550px) {
  .right-slider {
    width: 1100px;
  }
  .frame-container {
    background-size: 1040px 1500px;
    height: 1500px;
    width: 1040px;
  }
}
@media screen and (max-width: 1350px) {
  .right-slider {
    width: 740px;
  }
  .frame-container {
    background-image: url(/src/assets/market.png);
    background-size: 740px 1550px;
    height: 1550px;
    width: 740px;
    padding: 70px 50px;
  }
  .market {
    /* min-height: 150vh; */
  }
}
@media screen and (max-width: 1050px) {
  .right-slider {
    width: 940px;
  }
  .frame-container {
    background-size: 100% 1400px;
    height: 1400px;
    background-image: url(/src/assets/market2.png);
    width: 100%;
  }
}
@media screen and (max-width: 950px) {
  .right-slider {
    width: 740px;
  }
  .frame-container {
    background-size: 100% 1900px;
    height: 1900px;
  }
}
@media screen and (max-width: 768px) {
  .right-slider {
    width: 100%;
  }

  .frame-container {
    background-size: 100% 100%;
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 625px) {
  .frame-container {
    background-image: url(/src/assets/market3.png);
  }
}

@media screen and (max-width: 500px) {
  .pagination {
    font-size: 20px;
    background-size: 60px 30px;
    width: 60px;
    height: 30px;
  }
  .pagination-left {
    left: 0;
  }
  .pagination-right {
    right: 0;
  }
  .paginationBttns a {
    font-size: 20px;
  }
  .paginationActive a {
    background-size: 50px 30px;
    width: 50px;
    font-size: 20px;
    height: 30px;
  }
}
