.pop-up {
  background-image: url(/src/assets/pop.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 950px 820px;
  width: 950px;
  height: 820px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.left-part p {
  position: relative;
  text-align: left;
  top: -100px;
}
.first {
  display: flex;
  justify-content: space-between;
}
.second {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}
.first div h2 {
  margin: 0;
  color: #a4702e;
}
.sub-first {
  display: flex;
  justify-content: center;
}
.first > div > p {
  margin: 0;
  text-align: left;
  color: #ff1392;
}
.sub-sub-first {
  display: flex;
  justify-content: space-between;
}
.sub-sub-first div {
  background-color: #e3b6ff;
  color: black;
  border-radius: 5px;
  padding: 8px 5px 5px 5px;
  box-sizing: border-box;
  margin: 0 3px;
  width: 75px;
  height: 66px;
}

.sub-sub-first p {
  margin: 0;
}
.sub-sub-first span {
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  background-color: #a186be;
  color: white;
  box-sizing: border-box;
  width: 64px;
  height: 32px;
}

@media screen and (max-width: 990px) {
  .pop-up {
    width: 750px;
    height: 1020px;
    background-size: 750px 920px;
  }
  .left-item-img {
    width: 270px;
    height: 270px;
  }
}
@media screen and (max-width: 768px) {
  .pop-up {
    width: 550px;
    background-image: url(/src/assets/pop2.png);
    height: 1100px;
    background-size: 550px 1100px;
    flex-direction: column;
    justify-content: center;
  }
  .left-item-img {
    width: 270px;
    height: 270px;
    margin-bottom: 20px;
  }
  .left-part p {
    top: 0;
  }
}
@media screen and (max-width: 768px) {
  .pop-up {
    width: 340px;
    background-image: url(/src/assets/pop2.png);
    height: 1100px;
    background-size: 340px 1100px;
  }
  .left-item-img {
    width: 200px;
    height: 200px;
  }
}
